.shield{
  background: #008aff ;
  padding:1rem;
  border-radius: 0.5rem;
  position:absolute;
  color:#fff;
  margin-top:-6rem;
  margin-left:20px;
}

.content{
    box-shadow: 0 1rem 3rem rgb(31 45 61 / 6%);
    padding: 50px 50px 30px 30px;
    border-radius: 0.75rem;
    margin-bottom: 50px;
    margin-top: 90px;
    position: relative;
}